{% extends 'accounts/main.html' %}

{% block content %}
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Products</h5>
            </div>
            <div class="card card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in products %}
                        <tr>
                            <th scope="row">{{ i.id }}</th>
                            <td>{{ i.name }}</td>
                            <td>{{ i.category }}</td>
                            <td>{{ i.price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}